.friends .options {
  padding: 0.75rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #1e1f22;
  width: calc(100vw - 14rem - 2.25rem);
  color: lightgray;

  display: grid;
  justify-content: start;
  align-items: center;
  grid-auto-flow: column;
  gap: 1.5rem;
}
.friends .options > li {
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  cursor: pointer;

  display: grid;
  grid-auto-flow: column;
  gap: 0.3rem;
  align-items: center;
}
.friends .options > li > button {
  font-size: 0.95rem;
  cursor: pointer;
  background-color: #248046;
  color: white;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  border: none;
}
.friends .options li:hover {
  background-color: #36373d;
}
.friends .options li.selected {
  background-color: #4c4d53;
}
.friends .options #addFriendButton:hover {
  background-color: inherit;
}
.friends .options #addFriendButton > button.selected {
  background-color: inherit;
  color: #248046;
}

/* add friend page */
.friends .addFriend {
  padding: 1rem;
}
.friends .addFriend h1 {
  font-size: 0.9rem;
  margin-top: 0;
}
.friends .addFriend input {
  border-radius: 8px;
  width: calc(100% - 1.6rem);
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}
.friends .addFriend input.success {
  border: 1px solid #248046;
  width: calc(100% - 1.7rem);
}

/* friends online & all page  */
.friends .filteredFriendsList {
  padding: 1rem;
}
.friends .filteredFriendsList li {
  padding: 0.5rem;
  border-top: 1px solid #3f4147;
  border-radius: 8px;
  color: lightgray;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.friends .filteredFriendsList li:hover {
  background-color: #3a3c42;
}
.friends .filteredFriendsList li > .info {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}
.friends .filteredFriendsList li > .info > div > p:first-child {
  font-size: 1rem;
}
.friends .filteredFriendsList li > .info > div > p:last-child {
  font-size: 0.65rem;
}
.friends .filteredFriendsList .actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0.4rem;
}
.friends .filteredFriendsList .actions > div {
  background-color: #2b2d31;
  border-radius: 50px;
  padding: 0.3rem;
  cursor: pointer;

  display: grid;
}
.friends .filteredFriendsList li:hover .actions > div {
  background-color: #1e1f22;
}
.friends .filteredFriendsList .actions > div:hover > .message {
  fill: white;
}
.friends .filteredFriendsList img {
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
}
.friends .filteredFriendsList svg {
  width: 1.2rem;
  fill: lightgray;
}
.friends .filteredFriendsList .actions > div:hover > svg.accept {
  fill: #248046;
}
.friends .filteredFriendsList .actions > div:hover > svg.decline {
  fill: #ff5353;
}
